@model WebApplication15.Models.TblUrun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblUrun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblKategoriler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblKategoriler.KategoriId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UrunId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
