@model IEnumerable<WebApplication15.Models.TblUrun>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped " id="tbllist" style="border-radius: 12px;overflow:hidden" >
    <thead class="table-dark text-white" >
        <tr style="margin-top: 20px !important;">
            <th>
                @Html.DisplayNameFor(model => model.UrunPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblKategoriler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            <td>
               <img class="rounded-circle" src="@(item.UrunPhoto)" asp-append-version=true width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TblKategoriler.KategoriAd)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UrunId"> edit </a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.UrunId"> detaylar </a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UrunId">  sil </a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tbllist').DataTable({

        });
    });
</script>